<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Rekomendasi Produk Web App</title>
    <link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
        body { background: #4286f4 !important; 
            font-family: 'Spectral', serif !important;}
    </style>
 
</head>
 
<body>
    <div class="container">
        <div class="header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-link"><a href="/index">Home</a>
                    </li>
                    <li class="nav-link"><a href="signOut">Sign Out</a>
                    </li>
                    <li class="nav-link"><a href="showPlot2">Plot ID vs Product ID (Purchased)</a>
                    </li>
                </ul>
                <ul  class="navbar-nav ml-auto">
                        <li class="navbar-nav ml-auto">
                                <form method="POST" action="/search">
                                    <input type="text" placeholder="Search.." id="search" name="search">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                        </li>
                    </ul>
            </nav>
            <h3 class="text-muted" style="color:black !important">Rekomendasi Produk oleh Adji Pratama Permana Putra</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Aplikasi Rekomendasi Produk</h1>
            <p class="lead">Hallo {{ nama }}</p>
            <p><img src='{{ grafik }}' height="600" width="100%"></img>
            </p>
        </div>
       
        <footer class="footer">
            <p>&copy; Adji Pratama Permana Putra 2019</p>
        </footer>
 
    </div>
</body>
 
</html>